body{
    background-color: rgb(31, 31, 31);
    margin: 0;
    font-family: Roboto, sans-serif;
}
h1{
    color: white;
    z-index: 100;
    text-align: center;
    background-color: black;
    width: 97.77%;
    height: 40px;
    font-size: 40px;
    padding: 1%;
    margin: 0;
    border-bottom: 2px;
    cursor: pointer;
    border: 2px solid #0000; /* Tenký, tmavý okraj */
    border-radius: 5px; /* Lehce zaoblené rohy */
    transition: border-color 0.3s ease-out, border-width 0.3s ease-out; 
}
.logo{
    position: absolute;
    top: 0;
    left: 5%;
    width: 60px;
    height: 100px;
}
.tabule_info{
    background-color:  rgb(11, 11, 11);
    margin-left: 10%;
    color: white;
    width: 80%;
    height: 330px;
    left: 0;
    margin-top: 3%;
    border-radius: 25px;
    border: 2px #0000; /* Tenký, tmavý okraj */
}
.info{
    font-size: 30px;
    font: bold;
    margin: 0;
}
.text{
    color: white;
    font-size: 20px;
    text-align: left;
    left: 0;
    padding: 20px;
}
.menu{
    position: absolute;
    top: 3%;
    right: 5%;
}
a{
    display: inline-flex;
    margin-right: 8px;
    font-size: 15px;
    padding: 5px 10px;
    background-color: rgb(11, 11, 11);
    color: white;
    text-decoration: none; /* Odstraní podtržení odkazu */
    border-radius: 5px;
    transition: background-color 0.3s;
}
h2 {
    color: white;
    font-size:35px;
    text-align: center;
    margin-top: 40px;
}
h3 {
    color: white;
    font-size:35px;
    text-align: center;
    margin-top: 40px;
}
.trenery-container,.kontakt-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.trener-karta, .kontakt-karta {
    color: white;
    text-align: center;
    width: 180px;
    height: 155px;
    padding: 5px;
    border-radius: 40px;
    background-color:  rgb(11, 11, 11);
    border: 1px solid  rgb(11, 11, 11);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: background-color ease-in-out 0.5s, border-color ease-in-out 0.5s;
    cursor: pointer;
}
.kontakt-karta {
    width: 220px;
    height: 100px;
} 
.trener-karta h3, .kontakt-karta h3 {
    padding-top: 4px;
    margin-top: 0;
    margin-bottom: 10px;
}
.kontakt-karta h3 {
    font-size: 20px;
}
.trener-karta p, .kontakt-karta p {
    margin: 4px 0;
}
/* progress container */
.progress {
  width: 70%;
  margin-left: 25px;
  height: 5px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

/* samotná lišta */
.progress-bar {
  height: 100%;
  width: 0%;
  background: #4caf50;
  transition: width 0.1s linear;
}

a:hover {
    background-color: black ;
}



footer{
    background-color: black;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;   
    left: 0;
}
footer p{
    padding-top: 20px;
    font-size: 10px;
}
.trener-karta:hover, .kontakt-karta:hover {
    background-color: rgb(21, 21, 21); /* Světlejší barva okraje při najetí myší */
    border-color: rgb(21, 21, 21);
    
}
.main:hover {
    border-color: rgb(31, 31, 31); /* Světlejší barva okraje při najetí myší */
    border-width: 2px; /* Zvýšení šířky okraje při najetí myší */
}
h4 {
    color: white;
    text-align: center;
    font-size: 30px;
}
#prihlaska-container {
    color: white;
    border: 1px solid rgb(11, 11, 11);
    padding: 10px;
    border-radius: 8px;
    width: 40%;
    margin: 2% auto;
    background-color:rgb(11, 11, 11);
    margin-bottom: 5%;
}

#prihlaska-container input,
#prihlaska-container textarea {
    background-color: rgb(11, 11, 11);
    color: white;
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    margin-left: 3%;
    border-radius: 5px;
    border: 1px solid rgb(92, 92, 92);
}
#prihlaska-container button {
    margin-left: 45%;
    margin-top:4%;
    padding: 10px;
    border: none;
    background-color: #5c8df6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#prihlaska-container button:hover {
    background-color: black;
}
/* Hamburger tlačítko */
.hamburger{
    display: none; /* Skryté na desktopu */
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px; /* Pro snadnější kliknutí */
    z-index: 1000; /* Aby bylo vždy nahoře */
    /* Pro CSS hamburger ikonu */
    width: 40px; /* Velikost klikací oblasti */
    height: 40px;
    position: relative; /* Pro vnitřní span elementy */
}
.hamburger-box {
    width: 30px; /* Šířka čar hamburgeru */
    height: 24px; /* Výška oblasti čar hamburgeru */
    display: inline-block;
    position: relative;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 100%;
    height: 3px; /* Tloušťka čar */
    background-color: white;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.hamburger-inner {
    top: 50%;
    transform: translateY(-50%);
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: '';
}
.hamburger-inner::before {
    top: -10px; /* Vzdálenost horní čáry */
}
.hamburger-inner::after {
    bottom: -10px; /* Vzdálenost dolní čáry */
}
/* Styly pro aktivní hamburger (křížek) */
.hamburger.is-active .hamburger-inner {
    transform: rotate(45deg);
}
.hamburger.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
}
.hamburger.is-active .hamburger-inner::after {
    bottom: 0;
    opacity: 0; /* Schováme spodní čáru, aby vznikl křížek ze dvou */
}
/* Media Query pro mobilní zobrazení */
@media (max-width: 1800px){
    .menu{
        top: 2%;
    }
}

@media (max-width: 1600px){
    .logo{
        top: 1%;
        width: 50px;
        height: 50px;
    }
    .menu{
        top: 2%;
    }
}
@media (max-width: 1400px) {
    .tabule_info{
        width: 80%;
        height: auto;
        position: relative;
    }
    .menu {
        display: none; /* Skryjeme původní menu */
        flex-direction: column; /* Položky pod sebou */
        align-items: flex-start; /* Zarovnání položek doleva */
        position: absolute;
        top: 6%; /* Pod headerem */
        right: 0.5%;
        margin: 0;
        background-color: #3f3c3c; /* Pozadí mobilního menu */
        width: 80px; /* Šířka mobilního menu */
        padding: 10px;
        box-shadow: -2px 0 5px rgba(0,0,0,0.2);
        transform: translateX(100%); /* Skryté mimo obrazovku */
        transition: transform 0.3s ease-in-out;
        z-index: 999; /* Pod hamburgerem, ale nad obsahem */
    }

   .menu.is-active {
        display: flex; /* Zobrazíme, když je aktivní */
        
        margin-bottom: 5%;
        transform: translateX(0); /* Vysune se do obrazovky */
    }

    .nav-item {
        margin-right: 0;
        margin-left: 2%;
        margin-bottom: 40px; /* Odsazení mezi položkami v mobilním menu */
        width: 100%; /* Aby položky zabraly celou šířku menu */
    }
    .nav-text {
        display: none;
    }
    .nav-icon {
        width: 24px;
        height: 24px;
    }

    .hamburger {
        display: block; /* Zobrazíme hamburger tlačítko */
        position: absolute;
        top: 3%;
        transform: translateY(-50%); /* Vertikální centrování v headeru */
        right: 4%; /* Odsazení od pravého kraje */
    }
    h1{
        font-size: 32px;
        /* Prostor pro hamburger tlačítko */
    }
    .logo{
        top: 1%;
        width: 50px;
        height: 50px; 
    }
    .text{
        font-size: 18px;
    }
}
@media (max-width: 990px){
    .hamburger {
        top: 2%;
    }
    .text{
        font-size: 16px;
    }
    .logo{
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 825px){
    .text{
        font-size: 14px;
    }
}
@media (max-width: 600px){
    h1{
        font-size: 15px;
    }
    #prihlaska-container {
        width: 80%;
    }
}   