body{
    background-color: white;
    margin:0;
}
main{
    color: white;
    z-index: 100;
    text-align: center;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 40px;
    font-size: 30px;
    font: bold;
    padding: 1%;
    
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    left: 0%;
}
