body{
    background-color: rgb(31, 31, 31);
    margin: 0;
    font-family: Roboto, sans-serif;
}
h1{
    color: white;
    z-index: 100;
    text-align: center;
    background-color: black;
    width: 97.77%;
    height: 40px;
    font-size: 40px;
    padding: 1%;
    margin: 0;
    border-bottom: 2px;
    cursor: pointer;
    border: 2px solid #0000; /* Tenký, tmavý okraj */
    border-radius: 5px; /* Lehce zaoblené rohy */
    transition: border-color 0.3s ease-out, border-width 0.3s ease-out; 
}
img.logo{
    position: absolute;
    top: 1%;
    left: 5%;
    width: 60px;
    height: auto;
}
.tabule_info{
    background-color:  rgb(11, 11, 11);
    margin-left: 10%;
    color: white;
    width: 80%;
    height: 330px;
    left: 0;
    margin-top: 3%;
    border-radius: 25px;
    border: 2px #0000; /* Tenký, tmavý okraj */
}
.info{
    font-size: 30px;
    font: bold;
    margin: 0;
}
.text{
    color: white;
    font-size: 20px;
    text-align: left;
    left: 0;
    padding: 20px;
}
.menu{
    position: absolute;
    top: 4%;
    right: 5%;
}
a{
    display: inline-flex;
    margin-right: 8px;
    font-size: 15px;
    padding: 5px 10px;
    background-color: rgb(11, 11, 11);
    color: white;
    text-decoration: none; /* Odstraní podtržení odkazu */
    border-radius: 5px;
    transition: background-color 0.3s;
}
h2 {
    color: white;
    font-size:35px;
    text-align: center;
    margin-top: 40px;
}
h3 {
    color: white;
    font-size:35px;
    text-align: center;
    margin-top: 40px;
}
.trenery-container,.kontakt-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.trener-karta, .kontakt-karta {
    color: white;
    text-align: center;
    width: 180px;
    height: 155px;
    padding: 5px;
    border-radius: 40px;
    background-color:  rgb(11, 11, 11);
    border: 1px solid  rgb(11, 11, 11);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: background-color ease-in-out 0.5s, border-color ease-in-out 0.5s;
    cursor: pointer;
}
.kontakt-karta {
    width: 220px;
    height: 100px;
} 
.trener-karta h3, .kontakt-karta h3 {
    padding-top: 4px;
    margin-top: 0;
    margin-bottom: 10px;
}
.kontakt-karta h3 {
    font-size: 20px;
}
.trener-karta p, .kontakt-karta p {
    margin: 4px 0;
}
/* progress container */
.progress {
  width: 70%;
  margin-left: 25px;
  height: 5px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

/* samotná lišta */
.progress-bar {
  height: 100%;
  width: 0%;
  background: #4caf50;
  transition: width 0.1s linear;
}

a:hover {
    background-color: black ;
}



footer{
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;   
    left: 0;
}
.trener-karta:hover, .kontakt-karta:hover {
    background-color: rgb(21, 21, 21); /* Světlejší barva okraje při najetí myší */
    border-color: rgb(21, 21, 21);
    
}
.main:hover {
    border-color: rgb(31, 31, 31); /* Světlejší barva okraje při najetí myší */
    border-width: 2px; /* Zvýšení šířky okraje při najetí myší */
}

.prihlaska{
    margin-top: 50px;
    margin-bottom: 100px;
}