body{
    background-color: white;
}
header{
    top:0;
    color: white;
    z-index: 100;
    text-align: center;
    background-color: black;
    position: sticky;
    margin:0;
    padding: 20px;
    border: 10px;
    border-color: black;
}
p{
    font-size: 20px;
    color: black;
    text-align: justify;
    margin: 20px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    left: 0%;
}